@font-face {
  font-family: 'SY-Bold';
  src: url('/nbs-pc/comfonts/SourceHanSansCN-Bold.otf');
}
@font-face {
  font-family: 'SY-Regular';
  src: url('/nbs-pc/comfonts/SourceHanSansCN-Regular.ttf');
}
@font-face {
  font-family: 'SY-Heavy';
  src: url('/nbs-pc/comfonts/SourceHanSerifCN-Heavy-4.otf');
}
